# ----------------------
# Python Virtual Environment
# ----------------------
.venv/
venv/
env/

# ----------------------
# Python Cache
# ----------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------
# Environment Variables
# ----------------------
.env
.env.*

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# Database
# ----------------------
*.sqlite3
*.db

# ----------------------
# Build / Cache
# ----------------------
.pytest_cache/
.mypy_cache/
.cache/

# ----------------------
# VS Code
# ----------------------
.vscode/

# ----------------------
# OS Files
# ----------------------
.DS_Store
Thumbs.db